nav {
  a {
    align-self: center;
    margin-bottom: 15px;
    margin-right: 30px;
  }

  a:nth-last-child(2) {
    margin-left: 235px;
  }

  .container {
    height: 60px;
    justify-content: flex-start;
    display: flex;
  }

  .active-link {
    color: #ee2b35;
  }
}
