.types-block {
  width: 1200px;
  display: flex;
  flex-direction: column;

  .types {
    display: flex;
    justify-content: center;

    .dog-block,
    .cat-block {
      display: flex;
      justify-content: center;
      height: 200px;
      display: flex;
      border: 1px solid rgb(210, 210, 210);
      padding: 20px;
      width: 50%;

      .type-desc {
        align-self: center;
        display: flex;
        flex-direction: column;
      }
    }

    .cat-block {
      margin: 0 10px 0 0;
    }
  }
  h2 {
    margin-bottom: 30px;
  }

  button {
    align-self: center;
    height: 50px;
    width: 135px;
    border: none;
    color: white;
    background-color: #e84a53;
    border-radius: 5px;
    transition: 0.2s;
  }

  button:hover {
    background-color: #b4383e;
  }
}
