.basket {
  display: flex;

  .basket-items {
    width: 100%;
    margin-right: 20px;
  }

  .basket-pay {
    width: 400px;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}
