.top-panel {
  width: 100vw;
  background-color: #e84a53;
  color: white;
  display: flex;
  justify-content: center;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 50px;
  padding: 0;

  .right-top-panel {
    align-self: center;
  }

  .left-top-panel {
    align-self: center;
    display: flex;

    p {
      margin: 0 25px 0 0;
    }

    span {
      font-weight: bold;
    }
  }

  .phone-top-panel {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
  }
}
