.profile {
  display: flex;
  flex-direction: column;
  .regular-btn {
    width: 200px;
  }

  h3 {
    text-align: center;
  }

  .no-orders {
    text-align: center;
  }

  .profile-form {
    button {
      width: 200px;
      margin-top: 5px;
    }
  }
}
