.animal-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px 20px;

  img {
    width: 100%;
  }
}

.animals-block {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 250px;
    margin-bottom: 10px;
  }
}
